<section class="row">
  <%= live_render(@conn, HcAlphaWeb.DelegatesLive) %>
</section>

<section class="row">
  <div class="row">
    <h3 class="mt-4">Staking</h3>
  </div>
</section>

<input type="hidden" id="nodeUrl" value={@node}>
<input type="hidden" id="walletUrl" value={@wallet}>
<input type="hidden" id="faucetUrl" value={@faucet}>
<section class="row" id="app"></section>
