<section class="row">
  <%= live_render(@conn, HcAlphaWeb.LeadersLive) %>
</section>
<section class="row">
  <%= live_render(@conn, HcAlphaWeb.ValidatorsLive) %>
</section>
<section class="row">
  <%= live_render(@conn, HcAlphaWeb.BlocksLive) %>
</section>
